In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [2]:
data = pd.read_csv('movie_bd_v5.csv')

data['profit'] = data['revenue']-data['budget']
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit
1327,tt0407304,132000000,591739379,War of the Worlds,Tom Cruise|Dakota Fanning|Miranda Otto|Justin ...,Steven Spielberg,They're already here.,The extraordinary battle for the future of hum...,116,Adventure|Thriller|Science Fiction,Paramount Pictures|DreamWorks SKG|Cruise/Wagne...,6/28/2005,5.9,2005,459739379
537,tt0240462,70000000,176104344,Dr. Dolittle 2,Eddie Murphy|Kristen Wilson|Raven-SymonÃ©|Kyla...,Steve Carr,The doctor is in again.,"Dr. John Dolittle the beloved doctor is back, ...",87,Comedy|Family|Romance|Fantasy,Twentieth Century Fox Film Corporation,6/22/2001,4.9,2001,106104344
303,tt0795351,27000000,29000000,Case 39,RenÃ©e Zellweger|Jodelle Ferland|Ian McShane|K...,Christian Alvart,Some cases should never be opened.,"In her many years as a social worker, Emily Je...",109,Horror|Mystery|Thriller,Paramount Vantage|Anonymous Content|Misher Fil...,8/13/2009,6.0,2009,2000000
1503,tt0430304,64000000,101595121,Little Man,Marlon Wayans|Shawn Wayans|Kerry Washington|Jo...,Keenen Ivory Wayans,Big things come in small packages,"After leaving the prison, the dwarf criminal C...",98,Comedy|Crime,Revolution Studios|Wayans Bros. Entertainment,8/31/2006,5.6,2006,37595121
84,tt3567288,5000000,98450062,The Visit,Olivia DeJonge|Ed Oxenbould|Kathryn Hahn|Benja...,M. Night Shyamalan,No one loves you like your grandparents.,The terrifying story of a brother and sister w...,94,Horror|Thriller,Blumhouse Productions|Blinding Edge Pictures,9/10/2015,5.9,2015,93450062

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09

# Предобработка

In [2]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [5]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
#answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
#answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [6]:
# тут пишем ваш код для решения данного вопроса:
data.groupby(['original_title','imdb_id'])['budget'].max().sort_values(ascending=False).head(5)
answers['1'] = '1. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [7]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [8]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
data.groupby(['original_title','imdb_id'])['runtime'].max().sort_values(ascending=False).head(5)
answers['2'] = '2. Gods and Generals (tt0279111)'

# 3. Какой из фильмов самый короткий (в минутах)?

In [9]:
data.groupby(['original_title','imdb_id'])['runtime'].min().sort_values(ascending=True).head(5)
answers['3'] = '3. Winnie the Poo (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [10]:
data.runtime.mean()
answers['4'] = '4. 109.6585494970884'

# 5. Каково медианное значение длительности фильмов?

In [11]:
data.runtime.median()
answers['5'] = '5. 107.0'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [12]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data['profit'] = data['revenue']-data['budget']
data.groupby(['original_title','imdb_id'])['profit'].max().sort_values(ascending=False).head(5)
answers['6'] = '6. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [13]:
data.groupby(['original_title','imdb_id'])['profit'].min().sort_values(ascending=True).head(5)
answers['7'] = '7. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [14]:
data.query('revenue>budget')
answers['8'] = '8. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [15]:

ds=data[(data['release_year']==2008)]
p_max=ds.profit.max()
ds[(data['profit'] == p_max)]

answers['9'] = '9. The Dark Knight (tt0468569)'

<ipython-input-15-d6f0466b36c8>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ds[(data['profit'] == p_max)]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [16]:
ds=data[(data['release_year']>=2012) & (data['release_year']<=2014)]
p_min=ds.profit.min()
#print(p_min) -165710090
ds[(data['profit'] == p_min)]

answers['10'] = '10. The Lone Ranger (tt1210819)'

<ipython-input-16-326ac79a260e>:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ds[(data['profit'] == p_min)]

# 11. Какого жанра фильмов больше всего?

In [6]:
# ВЕЛОСИПЕД

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
data = pd.read_csv('movie_bd_v5.csv')




k=len(data.genres)
d_genres=[]
dict_genres={}
i=0

while i<k:                 #цикл составления списка названий жанров
    t = data.genres[i]

    try:
        t.isalnum()
    except AttributeError:
        i=i+1
        continue
    t=data.genres[i].split('|') #удаление разделительного символа между названиями жанров
    td=Counter(t).most_common() #словарь из строки
    d_genres.append(t)          #создание списка количества жанров
    dict_genres.update(td)      #добавление в итоговый словарь данных из текущей строки
    
    
    i=i+1

dd=pd.Series(dict_genres)       #список названий жанров


df=pd.DataFrame(d_genres)       # фрейм количества жанров
df.columns=['Genres1','Genres2','Genres3','Genres4','Genres5'] #добавление названия столбцов во фрейм 

N_genre_film=[]
for gf in dd.index:            #цикл подсчета жанров одного вида
    a=len(df[df.Genres1.str.match(gf, na=False)]['Genres1'])
    b=len(df[df.Genres2.str.match(gf, na=False)]['Genres2']) 
    c=len(df[df.Genres3.str.match(gf, na=False)]['Genres3'])
    d=len(df[df.Genres4.str.match(gf, na=False)]['Genres4'])
    e=len(df[df.Genres5.str.match(gf, na=False)]['Genres5'])
    Genre_film = a+b+c+d+e
    N_genre_film.append(Genre_film)

dfg=pd.DataFrame(N_genre_film, index=dd.index, columns=['Number_genres']) #создание фрейма жанр-количество

max = dfg.Number_genres.max()      #максимальное число жанра
#print(max)
ds=dfg[(dfg['Number_genres']==max) ] #выборка максимального значения
display(ds)

answers['11'] = '11. Drama (782)'

       Number_genres
Drama            782

ВАРИАНТ 2

In [18]:
data = pd.read_csv('movie_bd_v5.csv')
def count_genres(gf,N_genre_film):#функция подсчета числа жанра одного вида в строке датафрейма,
#получает на вход ячейку столбца и пустой список    
    dddd=len(data[data.genres.str.contains(gf, na=False)])#записываем в переменную число жанра в столбце
    N_genre_film.append(dddd)     #обновляем численный список жанров

    return N_genre_film           #функция возвращает числовой списко по жанрам




k=len(data.genres)               #количество строк в столбце жанров
d_genres=[]                      #пустой список для жанров из ячейки
dict_genres={}                   #словарь для сохранения жанров
i=0

while i<k:                       #цикл составления списка названий жанров
    t = data.genres[i]

    try:                         #прверка пустой строки
        t.isalnum()
    except AttributeError:
        i=i+1
        continue
    t=data.genres[i].split('|')  #удаление разделительного символа между названиями жанров
    td=Counter(t).most_common()  #словарь из строки
    dict_genres.update(td)       #добавление в итоговый словарь данных из текущей строки
    
    
    i=i+1

dd=pd.Series(dict_genres)        #список жанров

N_genres=[]
for gf in dd.index: count_genres(gf,N_genres)#создание списка количества жанров
    
#display(N_genres)  проверка


dfg=pd.DataFrame(N_genres, index=dd.index, columns=['Number_genres']) #созадние жанрового датафрейма 
#display(dfg) проверка
max = dfg.Number_genres.max()    #максимальное число жанров
print(max)
ds=dfg[(dfg['Number_genres']==max) ] #выборка максимального значения
display(ds)


check3=len(data[data.genres.str.contains("Drama")]) #проверка
print(check3)

782

       Number_genres
Drama            782

782

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [13]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']


def count_genres(gf,N_genre_film):#функция подсчета числа жанра одного вида в строке датафрейма,
#получает на вход ячейку столбца и пустой список    
    dddd=len(dff[dff.genres.str.contains(gf, na=False)])#записываем в переменную число жанра в столбце
    N_genre_film.append(dddd)     #обновляем численный список жанров

    return N_genre_film           #функция возвращает числовой списко по жанрам

dff=data[(data['profit']>0) ] #фрейм с прибыльными фильмами

Genres=(['Action', 'Adventure', 'Science Fiction', 'Thriller', 'Fantasy',
       'Crime', 'Western', 'Drama', 'Family', 'Animation', 'Comedy', 'Mystery',
       'Romance', 'War', 'History', 'Music', 'Horror', 'Documentary',
       'Foreign'])



N_genres=[]
for gf in Genres: count_genres(gf,N_genres)#создание списка количества жанров
    
dfg=pd.DataFrame(N_genres, index=Genres, columns=['Number_genres']) #созадние жанрового датафрейма 
#display(dfg) проверка
max = dfg.Number_genres.max()    #максимальное число жанров
print(max)
ds=dfg[(dfg['Number_genres']==max) ] #выборка максимального занчения
display(ds)
check3=len(dff[dff.genres.str.contains("Drama")]) #проверка
print(check3)

answers['12'] = '12. Drama (560)'

560

       Number_genres
Drama            560

560

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [7]:
data = pd.read_csv('movie_bd_v5.csv')
data['profit'] = data['revenue']-data['budget']
data.head()


data.groupby(['director'])['revenue'].sum().sort_values(ascending=False).head(5)
answers['13'] = '13. Peter Jackson (6490593685)'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [87]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('C:/Users/Dmitriy/projects/Skillfactory/Skillfactory-projects/movie_bd_v5.csv')


df_action=data[data.genres.str.contains("Action")]
#display(df_action)
#print(len(df_action))
#df_action.info()





dir_list=df_action.pivot_table(['genres'],['director'], aggfunc='count').sort_values(by='genres',ascending=False).head(5)

#dddd=dir_list.genres.sort_values(ascending=False)
display(dir_list)
answers['14'] = '14.  Robert Rodriguez '

                    genres
director
Paul W.S. Anderson       7
Michael Bay              7
Ridley Scott             6
Antoine Fuqua            6
Robert Rodriguez         6

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [77]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

data = pd.read_csv('C:/Users/Dmitriy/projects/Skillfactory/Skillfactory-projects/movie_bd_v5.csv')

df2012=data[data['release_year'] == 2012] #фрейм за 2102 год

#сводная таблица с названием фильма, актерами и макс сбором
#df2012.pivot_table(['original_title', 'cast'],['revenue'], aggfunc='max').head(10)
df_pivot= df2012.pivot_table(['cast'],['revenue'], aggfunc='max').sort_values(by='revenue',ascending=False)

#максимальный сбор
#cast_rev_max=df_pivot.query('revenue').max()
#t=df_pivot.query('revenue ==1519557910').cast
display(df_pivot)

#original_title                                          Upside Down
#cast Robert Pattinson|Sarah Gadon|Juliette Binoche|Paul Giamatti|Samantha Morton

answers['15'] = '15. Chris Hemsworth'

                                                         cast
revenue
1519557910  Robert Downey Jr.|Chris Evans|Mark Ruffalo|Chr...
1108561013  Daniel Craig|Judi Dench|Javier Bardem|Ralph Fi...
1081041287  Christian Bale|Michael Caine|Gary Oldman|Anne ...
1017003568  Ian McKellen|Martin Freeman|Richard Armitage|A...
877244782   John Leguizamo|Ray Romano|Chris Wedge|Denis Le...
...                                                       ...
8106475     Kirsten Dunst|Jim Sturgess|Timothy Spall|James...
6063556     Robert Pattinson|Sarah Gadon|Juliette Binoche|...
4636169     Bruce Willis|Josh Duhamel|Rosario Dawson|Vince...
3428048     Jason Bateman|Hope Davis|Frank Grillo|Paula Pa...
2106557     Nicolas Cage|Malin Ã…kerman|Josh Lucas|Sami Ga...

[111 rows x 1 columns]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [14]:
#df_cast_mbudget = data.groupby(['cast'])['budget'].max().sort_values(ascending=False )



df_highBudget=data[(data.budget>data.budget.mean())] #высокобюджетный фрейм


def count_cast(gf, N_cast):  # функция подсчета числа аткеров в строке датафрейма,
    # получает на вход ячейку столбца и пустой список
    dddd = len(df_highBudget[df_highBudget.cast.str.contains(gf, na=False)])  # записываем в переменную число актеров в столбце
    N_cast.append(dddd)  # обновляем численный список актеров

    return N_cast  # функция возвращает числовой список по актерам
i=df_highBudget.index[0]


    
k = len(df_highBudget.cast)  # количество строк в столбце актеров

d_cast = []  # пустой список для актеров из ячейки
dict_cast = {}  # словарь для сохранения актеров
i=df_highBudget.index[0]

for i in df_highBudget.index:  # цикл составления списка актеров
    t = df_highBudget.cast[i]

#    try:  # прверка пустой строки
#        t.isalnum()
#    except AttributeError:
#        i = i + 1
#        continue
    t = df_highBudget.cast[i].split('|')  # удаление разделительного символа между актерами

    td = Counter(t).most_common()  # словарь из строки

    dict_cast.update(td)  # добавление в итоговый словарь данных из текущей строки
#    print(len(dict_cast))



dd = pd.Series(dict_cast)  # список актеров
print(dd)
N_cast = []
for gf in dd.index: count_cast(gf, N_cast)  # создание списка актеров

# display(N_genres)  проверка


dfg = pd.DataFrame(N_cast, index=dd.index, columns=['Number_cast'])  # созадние  датафрейма с актерами
# display(dfg) проверка
max = dfg.Number_cast.max()  # максимальное количество высокобюджетных фильмов
print(max)
ds = dfg[(dfg['Number_cast'] == max)]  # выборка максимального значения из ферйма с актерами
print(ds)
answers['16'] = '16. Matt Damon           18 фильмов'

Chris Pratt             1
Bryce Dallas Howard     1
Irrfan Khan             1
Vincent D'Onofrio       1
Nick Robinson           1
                       ..
Lou Diamond Phillips    1
Lily Tomlin             1
Rene Russo              1
Jason Alexander         1
Piper Perabo            1
Length: 1505, dtype: int64
18
            Number_cast
Matt Damon           18

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [15]:
def count_genres(gf,N_genre_film):#функция подсчета числа жанра одного вида в строке датафрейма,
#получает на вход ячейку столбца и пустой список
    dddd=len(dff[dff.genres.str.contains(gf, na=False)])#записываем в переменную число жанра в столбце
    N_genre_film.append(dddd)     #обновляем численный список жанров

    return N_genre_film           #функция возвращает числовой списко по жанрам


dff=data[data.cast.str.match("Nicolas Cage", na=False)] #оставляем фрейм фильмы имеющие нужный жанр

Genres=(['Action', 'Adventure', 'Science Fiction', 'Thriller', 'Fantasy',
       'Crime', 'Western', 'Drama', 'Family', 'Animation', 'Comedy', 'Mystery',
       'Romance', 'War', 'History', 'Music', 'Horror', 'Documentary',
       'Foreign'])

N_genres = []

for gf in Genres: count_genres(gf, N_genres)  # создание списка количества жанров

dfg = pd.DataFrame(N_genres, index=Genres, columns=['Number_genres'])  # созадние жанрового датафрейма
# display(dfg) проверка
max = dfg.Number_genres.max()  # максимальное число жанров
print(max)
ds = dfg[(dfg['Number_genres'] == max)]  # выборка максимального занчения
print(ds)


answers['17'] = '17. Action             16 фильмов'

16
        Number_genres
Action             16

# 18. Самый убыточный фильм от Paramount Pictures

In [90]:
data['profit'] = data['revenue']-data['budget']
df_par=data[data.production_companies.str.contains('Paramount Pictures')]
ds=df_par[(df_par['profit']==df_par['profit'].min()) ]

print(ds.original_title)
answers['18'] = '18. K-19: The Widowmaker'

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [99]:
success_year=data.pivot_table([ 'revenue'],['release_year'], aggfunc='sum').sort_values(by='revenue',ascending=False).head(5)

print(success_year)

answers['19'] = '19. 2015'

                  revenue
release_year
2015          25449202382
2014          23405862953
2013          23213799791
2012          23079001687
2011          22676791872

# 20. Какой самый прибыльный год для студии Warner Bros?

In [98]:
data['profit'] = data['revenue']-data['budget']

df_warner=data[data.production_companies.str.contains('Warner Bros')]
warnerbros_pivot=df_warner.pivot_table([ 'profit'],['release_year'], aggfunc='sum').sort_values(by='release_year',ascending=False).head(5)

print(warnerbros_pivot==warnerbros_pivot.max())
print(warnerbros_pivot)

answers['20'] = '20. 2014'

              profit
release_year
2015           False
2014            True
2013           False
2012           False
2011           False
                  profit
release_year
2015           870368348
2014          2295464519
2013          1636453400
2012          1258020056
2011          1871393682

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [3]:
data["release_date"] = pd.to_datetime(data["release_date"])
data["release_month"] = data["release_date"].dt.month


df_monthmax = data.groupby(['release_month'])['release_month'].count()

print(df_monthmax)
print(df_monthmax.max())
answers['21'] = '21. 9 - сентябрь'

NameError: name 'pd' is not defined

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [133]:
summer_fims=len(data[(data.release_month == 6) | (data.release_month == 7) | (data.release_month==8)])
print(summer_fims)
answers['22'] = '22. 450'

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [148]:
df_winter=data[(data.release_month == 12) | (data.release_month == 1) | (data.release_month==2)] #фрейм за зиму

df_director= df_winter.pivot_table(['release_month'],['director'], aggfunc='sum').sort_values(by='release_month',ascending=False).head()
display(df_director)

                   release_month
director
Peter Jackson                 84
Clint Eastwood                61
Steven Soderbergh             51
Nancy Meyers                  48
Martin Scorsese               38

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [103]:
df_titlelen = pd.DataFrame(data['original_title']) #новый фрейм с названиями фильмов
df_titlelen = df_titlelen.applymap(lambda x: len(str(x))) #замена названий на количество символов
df_titlelen.columns = ['title_len'] #замена названия столбца


data['title_len'] = df_titlelen['title_len'] #добавляем в исходный фрейм новый столбец с кол-вом символов

display(data.query('title_len == title_len.max()'))
display(data.query('title_len == title_len.max()')['production_companies'])

answers['24'] = '24. Four By Two Productions'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_len
1448,tt0443453,18000000,261572744,Borat: Cultural Learnings of America for Make ...,Sacha Baron Cohen|Ken Davitian|Luenell|Pamela ...,Larry Charles,"Come to Kazakhstan, it's nice!",Kazakh journalist Borat Sagdiyev travels to Am...,82,Comedy,Twentieth Century Fox Film Corporation|Four By...,11/2/2006,6.4,2006,243572744,83

1448    Twentieth Century Fox Film Corporation|Four By...
Name: production_companies, dtype: object

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [108]:
df_overview = pd.DataFrame(data['overview']) #новый фрейм с названиями фильмов
df_overview = df_overview.applymap(lambda x: x.count(' ')) #замена названий на количество пробелов(слов)
df_overview.columns = ['overview_len'] #замена названия столбца


data['overview_len'] = df_overview['overview_len'] #добавляем в исходный фрейм новый столбец с кол-вом символов

display(data.query('overview_len == overview_len.max()'))
display(data.query('overview_len == overview_len.max()')['production_companies'])


answers['25'] = '25. Midnight Picture Show'

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,title_len,overview_len
711,tt0805570,15000000,3533227,The Midnight Meat Train,Bradley Cooper|Vinnie Jones|Brooke Shields|Les...,RyÃ»hei Kitamura,The most terrifying ride you'll ever take,The photographer Leon lives with his girlfrien...,98,Mystery|Drama|Crime|Thriller|Horror,Lions Gate Films|Lakeshore Entertainment|Green...,8/7/2008,5.7,2008,-11466773,23,174

711    Lions Gate Films|Lakeshore Entertainment|Green...
Name: production_companies, dtype: object

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [129]:
data.groupby(['original_title'])['vote_average'].describe(percentiles=[0.01, ]).sort_values(by='1%',ascending=False).head(15)


answers['26'] = '26. Inside Out, The Dark Knight, 12 Years a Slave'

,count,mean,std,min,1%,50%,max
original_title,,,,,,,
The Dark Knight,1.0,8.1,NaN,8.1,8.1,8.1,8.1
The Imitation Game,1.0,8.0,NaN,8.0,8.0,8.0,8.0
Interstellar,1.0,8.0,NaN,8.0,8.0,8.0,8.0
Room,1.0,8.0,NaN,8.0,8.0,8.0,8.0
Inside Out,1.0,8.0,NaN,8.0,8.0,8.0,8.0
Memento,1.0,7.9,NaN,7.9,7.9,7.9,7.9
The Pianist,1.0,7.9,NaN,7.9,7.9,7.9,7.9
Inception,1.0,7.9,NaN,7.9,7.9,7.9,7.9
The Grand Budapest Hotel,1.0,7.9,NaN,7.9,7.9,7.9,7.9
The Lord of the Rings: The Return of the King,1.0,7.9,NaN,7.9,7.9,7.9,7.9
Guardians of the Galaxy,1.0,7.9,NaN,7.9,7.9,7.9,7.9
Gone Girl,1.0,7.9,NaN,7.9,7.9,7.9,7.9
The Wolf of Wall Street,1.0,7.9,NaN,7.9,7.9,7.9,7.9
12 Years a Slave,1.0,7.9,NaN,7.9,7.9,7.9,7.9
Mr. Nobody,1.0,7.8,NaN,7.8,7.8,7.8,7.8

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

In [14]:
import pandas as pd
import itertools
t=[Vin Diesel, Paul Walker, Jason Statham]
act=itertools.combinations(t, 2)
actr=pd.Series(act)
display(actr)

SyntaxError: invalid syntax (<ipython-input-14-c93f01d57eed>, line 3)

# Submission

In [ ]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

In [ ]:
# и убедиться что ни чего не пропустил)
len(answers)